.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureExperiences {
  margin-left: auto;
  margin-right: auto;
}

li {
  padding-top: 20px;
}
.featureExperienceItem {
  width: 500px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.featureContainer {
  padding-top: 70px;
}

.connect {
  text-align: center;
}